.container {
  height: 100vh;
  background-color: #fdfdfd;
  animation-name: moveButtonTop;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}
.button {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #1876d1;
  padding: 10px 20px;
  border-radius: 7px;
  color: white;
  cursor: pointer;
  transform: scale(1);
  transition: all 0.1s ease-in-out;
  animation-name: moveButtonTop;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}
.button:active {
  transform: scale(0.96);
}
.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header {
  font-family: sans-serif;
  margin-top: 0px;
}
.card {
  transform: scale(1);
}

@keyframes moveButtonTop {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
