.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: transparent;
  padding: 8px 16px;

  border-radius: 4px;
  color: white;
  cursor: pointer;
  background-color: #e63946;
  transition: all 0.2s ease;
  animation: moveButtonTop 0.5s ease-in-out;
}

.button:active {
  transform: scale(0.98);
}

.Buttonicon {
  font-size: 24px;
  margin-right: 8px;
}

.buttonText {
  font-size: 16px;
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}
@keyframes moveButtonTop {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@media screen and (max-width: 650px) {
  .buttonContainer {
    display: flex;
    flex-direction: column;
  }
}
